/* Background Image Styles */
body{
  height: 100vh;
  margin: 0;
  background-image: url('../imagini/background-photo.jpg');
  background-size: 120%;
  background-position: center;
}
/*Container Styles */
.container{
  position: relative;
  z-index: 1;
  background-color:#E2D7B7;
  background-size: cover;
  background-position: center;
  margin-top: 15vh;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 1cm;
  display: flex;
  flex-direction: column;   
}
main {
  min-height: 75vh;
}
  .container_main {
    display: block;
    align-items: center;
    justify-content: center;
}
.container_main>h2{
  margin: 0;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: left;
  color: #605B3E;
}
  
.image {
    max-width: 100%;
    max-height:100%;

}
  
.text {
    font-size: 30px;
    padding-left: 25px;
    line-height: 0.7;;
}
.cute_pic{
    display: flex;
    margin-left: 450px;
}
.cute_pic img{
    align-self: center;
}
/* Footer Styles */
footer{
    background-color: rgb(102, 102, 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
}

footer>h3{
  color:black;
}

footer>p{
  color:black;
}

/* Menu Bar Styles */
.site-logo {
  margin-right: 50px;
  grid-column: 1/2;
}

.nav1 li:nth-child(5) a {
  color: #605B3E;
}

.cart-icon{
  grid-column: 4/4;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 0.3%;
}
.navigare{
  border: 2px solid #605B3E;
  border-left: none;
  border-right: none;
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
}
nav{
  height: 10vh;
  border-bottom: #605B3E;
  position: relative;
  background-color: #E2D7B7;
}
.nav1{
  display: flex;
}
nav>ul{
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  background-color: #E2D7B7;
}
.nav1>li{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 7%;
}
li>a{
  color:#FFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
details{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
}
details summary {
 
    list-style: none;
  }
  details[open] summary {
    background-color:  #E2D7B7;
    color:#605B3E
  }
  
  details summary::after {
    font-size: 16px;
    float: right;
    color: #777D63
  }
  
  summary{
    color:#777D63
}
  details summary:focus {
    outline: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  
  summary::after {
    content: ' ►';
  }
  details summary::after
  {
    float: none;
  }
  details[open] summary:after {
    content: " ▼";
  }

  details p {
    margin: 0;
    padding: 10px;
    background-color:#E2D7B7;
    color: #605B3E;
  }
  @media (max-width: 1020px) {
    body{
    height: 100vh;
    margin: 0;
    background-image: url('../imagini/background-photo.jpg');
    background-size: 165%;
    background-position: center;
}
.container{
    position: relative;
    z-index: 1;
    background-color:#E2D7B7;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1cm;
    display: flex;
    flex-direction: column;
    min-height: 90vh ;
    height: auto;
    
}
main {
    min-height: 70vh;
    height: auto;
}/* Menu Bar Styles */

nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}
nav>ul{
    padding-left: 1px;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    background-color: #E2D7B7;
}
.site-logo{
    display: flex;
    justify-items: center;
    align-items: center;
    grid-column: 1/2;
}
.site-logo>img {
    max-width: 5vh;
    max-height: 5vh;
    margin-right: 50px;
}
.cart-icon{
    grid-column: 3/4;
    margin:0;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 20%;
}
.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 80% 5% 10% 5%;
}
.nav1{
    display: flex;
    flex-wrap: wrap;
}
.nav1>li {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 7%;
}
li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: small;
}

 /*MAIN*/
.container_main {
    height: 100%;
    padding-top: 30px;
}
.container_main>h2{
  padding-bottom: 30px;
  padding-top: 30px;
  text-align:left;
  color: #605B3E;
  font-size: 15px;
}
  
details{
  text-align: left;
  padding-bottom: 10px;
  padding-left: 0px;
}
details summary {

  font-size: 10px;
  list-style: none;
}
details[open] summary {
  background-color:  #E2D7B7;
  color:#605B3E
}

details summary::after {
  font-size: 10px;
  float: right;
  color: #777D63
}

summary{
  color:#777D63
}
details summary:focus {
  outline: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: ' ►';
}
details summary::after
{
  float: none;
}
details[open] summary:after {
  content: " ▼";
}

details p {
  margin: 0;
  padding: 10px;
  background-color:#E2D7B7;
  color: #605B3E;
  font-size: 10px;
}
.cute_pic{
  display: flex;
  margin: 0;
  justify-content: center;
}
.cute_pic img{
  width: 60%;
  height: 30%;

}
  }

