/* Background Image Styles */
body{
    height: 100vh;
    margin: 0;
    background-image: url('../imagini/background-photo.jpg');
    background-size: 120%;
    background-position: center;
}

/* Container Styles */
.container{
    position: relative;
    z-index: 1;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;   
}

.container-main {
    display: flex;
    flex-direction: column;
}

.form-table-container{
    display: flex;
    width: 100%;
    padding-top:50px ;
    justify-content: space-evenly;
}

main {
    min-height: 70vh;
}

.tabel>h4{
    padding-top: 50px;
    font-weight: bold;
}

/* Footer Styles */
footer{
    background-color: rgb(102 102 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
}

footer>h3{
    color:black;
}

footer>p{
    color:black;
}

/* Menu Bar Styles */
.site-logo {
    display: flex;
    /* margin-right: 50px; */
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    grid-column: 3/4;
    /* margin-right: 50px; */
    /* margin-top: 20px; */
    /* margin-bottom: 0.3%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigare {
    height: 10vh;
    position: relative;
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    grid-column: 2/3;
    display: grid;
    /* display: flex; */
    grid-template-columns: 70% 10% 10% 10%;
    flex-wrap: nowrap;
}

nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
    height: 10vh;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 10% 90%;
    flex-direction: row;
    align-content: center;
}

.navigare>ul {
    height: 100%;
    /* list-style: none; */
    display: flex;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    /* background-color: #E2D7B7; */
}

li {
    list-style: none;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    padding-left: 7%;
}
li>a {
    color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.nume-produs{
    font-weight: bold;
    color: #AA965B;
}

.nume-produs>p{
    color: #938E8E
}

td>input{
    border: none;
    color: #393939;
    width: 50px;
}

td>button{
    border: none;
    background-color: #ffff;
}

td>button>img{
    color: #ffff;
}

table.shopping-table {
    border-collapse: separate;
    border-spacing: 0 8px;
    table-layout: auto;
    display: inline-block;
}

tr{
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
}

td {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 5px;
}

td:first-child{
    border-left:  2px solid gray;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

td:last-child{
    border-right:  2px solid gray;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.imagine-produs{
    padding-left: 10px;
    width: 70px;
}

.pret{
    width: 30px;
}

.total>h4{
    display: inline-block;
    color: black;
    
}

.total>p{
    color: #605B3E;
    font-weight: bold;
    display: inline-block;
    margin-left: 65%;
}

.tabel{    
    padding-left: 3%;
    width: 60%;   
}

.formular-plata{
    border: 2px solid #E2D7B7;
    background-color: #E2D7B7;
    border-radius: 10px;
    width: 35%;
    padding-bottom: 5%;
    color: #fff;    
}


.tipuri-card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 20px;
}

.formular{
    flex-direction: column;  
    margin-left: 8%;
}

.formular>label{
    color: #ffff
}

.alte-date-input{
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-bottom: 20%;
}

form>input{
    border: none;
    background-color: #AA965B;
    width: 90%;
    height: 35px;
    border-radius: 10px;
}

.formular>input{
    color: #393939;
}

.alte-date>label{
    color: #ffff
}

.alte-date>label:first-child{
    margin-right: 27%;
}

.alte-date-input>input{
    border: none;
    background-color: #AA965B;
    height: 35px;
    width: 45%;
    border-radius: 10px;
}

.suma{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start ;
    padding-right: 10%;
}

.suma>p{
    color:#605B3E;
}

@media (width <= 1020px) {
/* Menu Bar Styles */

/*
nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}
nav>ul{
    padding-left: 1px;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    background-color: #E2D7B7;
}
.site-logo {
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    grid-column: 1/2;
    justify-content: center;
}
.site-logo>img {
    max-width: 5vh;
    max-height: 5vh;
    margin-right: 0;
}
.cart-icon{
    grid-column: 3/4;
    margin:0;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 20%;
}
.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 80% 5% 10% 5%;
}
.nav1{
    display: flex;
    flex-wrap: wrap;
}
.nav1>li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 7%;
}
li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: small;
}
 */

 /* MAIN */
.container-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-table-container{
    display: flex;
    width: 100%;
    padding-top:30px ;
    flex-direction: column;
}

.tabel{
    width: 97%;     
    padding-left: 3%;

}

.formular-plata{
    border: 2px solid #E2D7B7;
    background-color: #E2D7B7;
    border-radius: 10px;
    width: 80%;
    padding-bottom: 5%;
    align-self: center;
}

.total>h4{
    display: inline-block; 
    color: black; 

}

.total>p{
    color: #605B3E;
    font-weight: bold;
    margin-left: 72%;
}

.cart-icon{
        margin-top: 5%;
    }
}

@media(width <= 850px){
    nav {
        height: 10vh;
        border-bottom: #605B3E;
        position: relative;
        background-color: #E2D7B7;
    }
    .navigare>ul {
        height: 100%;
        /* list-style: none; */
        display: flex;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;
        /* background-color: #E2D7B7; */
        padding-left: 0;
        flex-wrap: wrap;
    }
    .site-logo {
        margin: 0;
        display: flex;
        justify-items: center;
        align-items: center;
        grid-column: 1/2;
        justify-content: center;
        margin: 0;
    }
    li>a{
        color:#FFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        font-size: small;
    }
    .site-logo>img {
        max-width: 5vh;
        max-height: 5vh;
        margin-right: 0;
    }
    .cart-icon {
        grid-column: 3/4;
        /* margin: 0; */
        /* margin-top: 10%; */
        /* margin-right: 50px; */
        /* margin-left: 20%; */
    }
    .navigare {
        border: 2px solid #605B3E;
        border-left: none;
        border-right: none;
        grid-column: 2/2;
        display: grid;
        grid-template-columns: 80% 5% 10% 5%;
    }
    li {
        list-style: none;
        /* margin-top: 20px; */
        /* margin-bottom: 20px; */
        padding-left: 7%;
    }

    main {
      min-height: 80vh;
      height: auto;
    }

    body{
      height: 100vh;
      margin: 0;
      background-image: url('../imagini/background-photo.jpg');
      background-size: 165%;
      background-position: center;
  }

  .container{
    position: relative;
    z-index: 1;
    background-color:#fff;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1cm;
    display: flex;
    flex-direction: column;
    min-height: 90vh ;
    height: auto;
  }

  }