/* Background Image Styles */
body{
    height: 100vh;
    margin: 0;
    background-image: url('../imagini/background-photo.jpg');
    background-size: 120%;
    background-position: center;
}

/* Container Styles */
.container{
    position: relative;
    z-index: 1;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    margin-top: 20vh;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;   
}

.container-main {
    display: flex;
    flex-direction: column;
}

.form-table-container{
    display: flex;
    width: 100%;
    padding-top:50px ;
    justify-content: space-evenly;
}

main {
    min-height: 70vh;
}

.tabel>h4{
    padding-top: 50px;
    color: black;
    font-weight: bold;
}

/* Footer Styles */
footer{
    background-color: rgb(102 102 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
}

/* Menu Bar Styles */
.site-logo {
    margin-right: 50px;
}

.cart-icon{
    margin: 20px 50px 0.3% 350px;
}

.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    display: flex;
}

nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}

nav>ul{
    list-style: none;
    display: flex;
    background-color: #E2D7B7;
}

.navigare>li{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.nume-produs{
    font-weight: bold;
    color: #AA965B;
}
.nume-produs>p{
    color: #938E8E
}

td>input{
    border: none;
    color: #393939;
    width: 50px;
}

td>button{
    border: none;
    background-color: #ffff;
}

td>button>img{
    color: #ffff;
}

table.shopping-table {
    border-collapse: separate;
    border-spacing: 0 8px;
    table-layout: auto;
    display: inline-block;
}

tr{
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
}

td {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    box-shadow:#393939;
    padding: 5px;
}

td:first-child{
    border-left:  2px solid gray;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

td:last-child{
    border-right:  2px solid gray;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.imagine-produs{
    padding-left: 10px;
    width: 70px;
}

.pret{
    width: 30px;
}

.total>h4{
    display: inline-block;
    
}

.total>p{
    color: #605B3E;
    font-weight: bold;
    display: inline-block;
    margin-left: 500px;
}

.tabel{
    width: 60%;   
}

.formular-plata{
    border: 2px solid #E2D7B7;
    background-color: #E2D7B7;
    border-radius: 10px;
    width: 35%;
    padding-bottom: 5%;
}
.formular-plata>h2, h4{
    color: #fff;
}
.tipuri-card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 20px;
}

.formular{
    flex-direction: column;  
    margin-left: 8%;
}

.formular>label{
    color: #ffff
}

.alte-date-input{
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-bottom: 20%;
}

.alte-date>label{
    color: #ffff
}

.alte-date>label:first-child{
    margin-right: 27%;
}

form>input{
    border: none;
    background-color: #AA965B;
    width: 90%;
    height: 35px;
    border-radius: 10px;
}

.alte-date-input>input{
    border: none;
    background-color: #AA965B;
    height: 35px;
    width: 45%;
    border-radius: 10px;
}

.suma{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start ;
    padding-right: 10%;
}
.suma>p{
    color:#605B3E;
}