/* Background Image Styles */
body{
    height: 100%;
    margin: 0;
    background-image: url('../imagini/background-photo.jpg');
    background-size: 120%;
    background-position: center;
}

/*Container Styles */
.container{
    position: relative;
    background-color: #e2d7b7;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1cm;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    height: auto ;
    
}

main {
    flex-grow: 1;
  }
  

.container_main {
    align-items: center;
    justify-content: center;
}
  
.container_main>h1{
    margin-top: 20px;
    text-align: center;
    display:block;
}

.container .container_main .eveniment{
    display : flex;
    margin : 20px; 
}

.eveniment>img{
    width:350px;
}

.descriere_even_1{
    padding: 20px;
    margin-left: 30px;    
    background-color: #605B3E;
    background-size: cover;
    background-position: center;
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descriere_even_1>h4{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.descriere_even_1>h1{
    margin: 0;
    text-align: center;
}.container_main>h2{
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}
.descriere_even_1>p{
    margin: 0;
    text-align: center;
}
#delimitare{
    font-size: 50px;
    margin: 0;
    margin-bottom: -10px;
    margin-top: -10px ;
}

/* Footer Styles */
footer{
    background-color: rgb(102, 102, 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
    margin-top: auto;
}
/* Menu Bar Styles */

.site-logo {
    margin-right: 50px;
}

.cart-icon{
    margin-right: 50px;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 0.3%;
}
.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    display: flex;
}
nav{
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}

nav>ul{
    list-style: none;
    display: flex;
    background-color: #E2D7B7;
}

.navigare>li{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}