@media (min-width: 1020px) {
    .items {
        margin-right: 10%;
    }
}

@media ( max-width: 1020px) {
    body{
    height: 100vh;
    margin: 0;
    background-image: url('../imagini/background-photo.jpg');
    background-size: 165%;
    background-position: center;
}
.meniu-container {
    flex-wrap: wrap;
    max-width: 100vw;
}
.items > div {
    max-width: 70vw;
}
.items {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 90vw;
}.items > div {
    max-width: 90vw;
}
.items > div>div {
    max-width: 70vw;
}
.items_right {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100vw;
}.items_right > div {
    max-width: 90vw;
}
.items_right > div>div {
    max-width: 70vw;
}
.price_and_add_to_cart {
    display: flex;
    justify-content: flex-end;
}
.container{
    position: relative;
    z-index: 1;
    background-color: #ffff;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    min-height: 90vh ;
}
main {
    min-height: 80vh;
    height: auto;
}
footer{
    background-color: rgb(102, 102, 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
}
/* Menu Bar Styles */

nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}
nav>ul{
    padding-left: 1px;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    background-color: #E2D7B7;
}
.site-logo{
    display: flex;
    justify-items: center;
    align-items: center;
    grid-column: 1/2;
}
.site-logo>img {
    max-width: 5vh;
    max-height: 5vh;
    margin-right: 50px;
}
.cart-icon{
    grid-column: 3/4;
    margin:0;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 20%;
}
.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 80% 5% 10% 5%;
}
.nav1{
    display: flex;
    flex-wrap: wrap;
}
.nav1>li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 7%;
}
li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: small;
}

 
}
