@media (min-width: 1020px) {
    .items {
        margin-right: 10%;
    }
}

@media ( max-width: 1020px) {
.cart-icon{
    margin-top: 5%;
}
.meniu-container {
    flex-wrap: wrap;
    max-width: 100vw;
}
.items > div {
    max-width: 70vw;
}
.items {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 90vw;
}.items > div {
    max-width: 90vw;
}
.items > div>div {
    max-width: 70vw;
}
.items-right {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100vw;
}.items-right > div {
    max-width: 90vw;
}
.items-right > div>div {
    max-width: 70vw;
}
.price-and-add-to-cart {
    display: flex;
    justify-content: flex-end;
}
footer{
    background-color: rgb(102, 102, 102);
    background-size: cover;
    padding: 20px;
    text-align: left;
    padding-bottom: 1cm;
}

footer>h3{
    color:black;
}

footer>p{
    color:black;
}

/* Menu Bar Styles */
/*
nav{
    height: 10vh;
    border-bottom: #605B3E;
    position: relative;
    background-color: #E2D7B7;
}
nav>ul{
    padding-left: 1px;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    background-color: #E2D7B7;
}
.site-logo {
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    grid-column: 1/2;
    justify-content: center;
}
.nav1 li:nth-child(2) a {
    color: #605B3E;
}
.site-logo>img {
    max-width: 5vh;
    max-height: 5vh;
    margin-right: 0;
}
.cart-icon{
    grid-column: 3/4;
    margin:0;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 20%;
}
.navigare{
    border: 2px solid #605B3E;
    border-left: none;
    border-right: none;
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 80% 5% 10% 5%;
}
.nav1{
    display: flex;
    flex-wrap: wrap;
}
.nav1>li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 7%;
}
li>a{
    color:#FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: small;
}
*/
 
}
@media (max-width: 850px) {
    nav {
        height: 10vh;
        border-bottom: #605B3E;
        position: relative;
        background-color: #E2D7B7;
    }
    .navigare>ul {
        height: 100%;
        /* list-style: none; */
        display: flex;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;
        /* background-color: #E2D7B7; */
        padding-left: 0;
        flex-wrap: wrap;
    }
    .site-logo {
        margin: 0;
        display: flex;
        justify-items: center;
        align-items: center;
        grid-column: 1/2;
        justify-content: center;
        margin: 0;
    }
    li>a{
        color:#FFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        font-size: small;
    }
    .site-logo>img {
        max-width: 5vh;
        max-height: 5vh;
        margin-right: 0;
    }
    .cart-icon {
        grid-column: 3/4;
        /* margin: 0; */
        /* margin-top: 10%; */
        /* margin-right: 50px; */
        /* margin-left: 20%; */
    }
    .navigare {
        border: 2px solid #605B3E;
        border-left: none;
        border-right: none;
        grid-column: 2/2;
        display: grid;
        grid-template-columns: 80% 5% 10% 5%;
    }
    li {
        list-style: none;
        /* margin-top: 20px; */
        /* margin-bottom: 20px; */
        padding-left: 7%;
    }
    main {
        min-height: 80vh;
        height: auto;
      }
      body{
        height: 100vh;
        margin: 0;
        background-image: url('../imagini/background-photo.jpg');
        background-size: 165%;
        background-position: center;
    }
    .container{
      position: relative;
      z-index: 1;
      background-color:#ffff;
      background-size: cover;
      background-position: center;
      margin-top: 10vh;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 1cm;
      display: flex;
      flex-direction: column;
      min-height: 90vh ;
      height: auto;
      
    }
}
